@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sedan+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Sedan+SC&display=swap');

*{
    margin: 0;
    padding: 0;
    font-weight: 400;
}

:root{
    --polvora-bebe: #fffffaff;
    --carie: #0d5c63ff;
    --verdigris: #44a1a0ff;
    --azul-tifanny: #78cdd7ff;
    --foca: #247b7bff;
    --preto: #000000;
    --texto-corpo:"Sedan SC", serif;
    --texto-titulo:"Poetsen One", sans-serif;
}

body{
    background-color: var(--azul-tifanny);
    color:var(--foca);
    display:flex;
    justify-content: center;
    align-items:center;
    min-height:100vh;
    font-family: var(--texto-titulo)
}

.caixa-principal{
    background-color: var(--polvora-bebe);
    width: 90%;
    max-width: 600px;
    text-align:center;
    padding:20px;    
}

.titulo{
    color: var(--carie);
    font-family: var(--texto-corpo);
    
}